// -------------- VAR --------------
$logo-grey: #696969;

// -------------- NORMALIZE --------------

* {
	box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.1;
    min-height: 100vh;
    // margin: 0 30px 0 11%;
    margin: 0 2.75% 0 11%;
}

// -------------- VAR --------------

$desktop-content-width: 1000px;


// -------------- GLOBAL --------------

.letter-spaced-small {
    letter-spacing: .085rem;
}
.letter-spaced-large {
    letter-spacing: 0.11rem;
}
.img-box-shadow {
    // box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.075);
}

main {
    transition: all .2s ease;
}


// -------------- INDEX --------------

.categories {
    margin: 5rem 0 0;
}


.category {
    margin-bottom: 7rem;
    
    .category-title {
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        ::first-letter {
            font-size: 115%;
        }
    }

    .category-title-text {
        font-size: 1.425rem;
    }

    .category-title-bar {
        border-bottom: 2px solid #9b9b9b;
        margin-left: 2.5rem ;
        flex-grow: 1;
    }
    
    .category-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-gap: 2rem;
        grid-gap: 2.7vw;
    }


    .category-link {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-decoration: none;
        min-height: 0;
        min-width: 0;


        &:hover {
            .category-link-image {
                filter: grayscale(1);
            }
            .category-link-name, .category-link-location {
                text-decoration: underline;
            }
        }
    }
    
    .category-link-image-container {
        overflow: hidden;
        height: 290px;
    }

    .category-link-image {
        width: 100%;
        height: 100%;
        transition: all .2s ease;
        object-fit: cover;
        filter: grayscale(0)
    }

    .category-link-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .category-link-name {
        font-size: 1rem;
        color: black;
        word-wrap: break-word;
        
        p {
            margin-top: .65rem;
            font-weight: 600;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    .category-link-location {
        margin-top: .4rem;
        color: $logo-grey;
        word-wrap: break-word;
    }


}

// -------------- SINGLE --------------


.projet-content {
    display: flex;
    justify-content: center;
    margin: 5rem 0;

    .projet-photo-container {
        margin: 1rem 1rem  1rem 3.5rem;
    }
    
    .projet-photo-grande {
        display: block;
        width: 100%;
    }

    .projet-article {
        
        width: 22rem;
        margin-top: 25vh;

        .projet-text-bar {
            width: 65%;
            border-top: 2px solid #9b9b9b;
            margin-bottom: 1.35rem;
        }

        .projet-text {
            position: sticky;
            top: 6rem;
        }
        .projet-titre-container {
            display: flex;
            justify-content: space-between;

            .projet-titre {
                margin-bottom: .5rem;
                font-size: 1.35rem;
            }
            .arrow-right {
                transition: all .3s ease;
                transform: rotate(90deg);
                height: 17.5px;
                margin-left: 1rem;
                display: none;
            }

        }

        .projet-location {
            color: $logo-grey;
            margin-bottom: .45rem;
        }

        .projet-description {
            order: 1;
            line-height: 1.215;
        }
        
        .description-technique {
            font-weight: 500;
            line-height: 1.215;
        }

        .description-architecural {
        }


        .projet-side-text {
            padding-bottom: .5rem;

            .projet-label-prix {

            }
            .projet-periode {
                padding-bottom: .5rem;
            }
        }
    }

    .projet-photo-slider {
        width: 100%;
        max-width: 2000px;
        display: flex;
        flex-direction: column;
    }

    .projet-photo-gallerie {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3.5rem 0;
    }

    .projet-photo-petite {
        width: 26%;
        display: block;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            max-height: 400px;
        }
    }
}

// -------------- PAGE --------------

.page-container {
    margin: 3rem 0 0;
    max-width: 1100px;
    .page-titre {
        margin-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .page-titre-bar {
        border-bottom: 2px solid #9b9b9b;
        margin-left: 2.5rem;
        flex-grow: 1;
    }
}

// -------------- HEADER --------------

.header {
    background-color: white;;
    display: flex;  
    height: 120px;
}
.header-logo {
    position: relative;
    left: -150px;
    width: 350px;
    display: block;
}

.header-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.header-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding-bottom: .75rem;
    .header-menu-item {
        color: black;
        text-decoration: none;
        padding-bottom: .1rem;
        // border-bottom: 2px solid rgb(155, 155, 155);
        border-bottom: 2px solid #00000000;
        font-weight: 600;
        font-size: 1.1rem;

        padding-bottom: 1.1rem;
        
        &::first-letter {
            font-size: 112%;
        }
        &:hover {
            border-bottom: 2px solid rgb(155, 155, 155);
            // border-bottom: 2px solid #00000000;
    }
    }
}

// --- hamburger ---
.header-hamburger {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 25px;
    height: 55px;
    align-items: center;
} 
  
.header-hamburger-cross {
    display: none;
}

.header.is-active .header-hamburger-cross{
    display: block;
}

.header.is-active .header-hamburger-lines{
    display: none;
}

.header.is-active .header-menu{
    display: block;
    position: absolute;
    height: unset;
    display: flex;
    position: absolute;
    top: 112px;
}

.header.is-active + main {
    padding-top: 3rem
}



// -------------- RESPONSIVE --------------

// --- responsive index large screens ---
@media screen and (min-width: 1570px) {
    body {
        // margin: 0 30px 0 14%;
        margin: 0 2.75% 0 14.5%;
    }
    .category .category-link-image-container {
        height: 305px;
    }
}

// --- responsive index very large screens ---
@media screen and (min-width: 2000px) {
    body {
        margin: 0 auto 0 auto;
        max-width: 1800px;
    }
    .category .category-link-image-container {
        height: 375px;
    }
}

// --- reducing single side text ---
@media screen and (max-width: 1335px) {
    
    .projet-content {
        .projet-article{
            width: 18rem;
        }
        .projet-photo-container {
            margin: 1rem 1rem  1rem 2.5rem;
        }
    }
}

// --- removing margin left alignment ---
@media screen and (max-width: 1250px) {
    
    .header-logo {
        left: -9.25%;
    }
    
    body {
        margin: 0 4%;
    }
    
    .category {
        .category-links {
            grid-gap: 1.8rem;
        }
    }
}

// --- 2col homepage + reducing logo & font size ---
@media screen and (max-width: 1070px) {
    
    
    .header-logo {
        width: 325px;
    }
    
    .category {
        .category-links {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1.55rem;
        }
        .category-link-name, .category-link-location {
            font-size: .975rem;
        }
    }

    .projet-text {
        font-size: .90rem;
    }
    .projet-content .projet-article .projet-titre-container .projet-titre {
        font-size: 1.2rem
    }
    
    .header-menu {
        .header-menu-item {
            font-size: 1.02rem;
        }
    }
    
}

// --- single side text > top ---
@media screen and (max-width: 960px) {
    .projet-content {
        display: block;
        
        .projet-article {
            margin-top: 0;

            .projet-text {
                position: unset;
                padding: 0 1rem 1rem;
            }
            .projet-titre-container {
                cursor: pointer;
            }

            .projet-titre-container {
                .arrow-right {
                    display: block
                }
                
            }

            .projet-text.is-active {
                .projet-description {
                    display: block;
                }
                .projet-titre-container {
                    .arrow-right {
                        transform: rotate(-90deg);
                    }
                } 
            }
        }
        .projet-article{
            width: 100%;
        }

        .projet-photo-container {
            margin: 1rem;
        }

        .projet-description {
            display: none;
        }

    }
}

// --- reducing homepage image height ---
@media screen and (max-width: 880px) {
    
    .category {
        .category-link-image-container {
            height: 270px;
        }
    }

    .projet-content {
        .projet-article {
            .projet-text {
                padding: 0 .25rem 1rem;
            }
        }

        .projet-photo-container {
            margin: .25rem;
        }
    }
}

// hamburger menu !
@media screen and (max-width: 750px) {
    // hamburger menu !
    .header-menu {
        display: none;
        width: 92%;
        justify-content: space-between;
    }
    .header-hamburger {
        display: flex !important;
        align-self: center !important;
    }

    .header-link {
        pointer-events: none;
    }

}


// --- reducing logo & font size & homepage image height ---
@media screen and (max-width: 650px) {

    .header-logo {
        width: 300px;
    }

    .category {
        .category-links {
            grid-gap: 1.35rem;
        }
        .category-title-text {
            font-size: 1.2rem;
        }
        .category-link-image-container {
            height: 220px;
        }
        .category-link-name, .category-link-location {
            font-size: .9rem;
        }
    }

    .projet-text {
        font-size: .87rem;
    }

    
    .header-menu {
        .header-menu-item {
            font-size: .9rem;
        }
    }

}

// --- 1col homepage + increasing homepage image height ---
@media screen and (max-width: 550px) {
    .category {
        .category-links {
            grid-template-columns: repeat(1, 1fr);
        }
        .category-link-image-container {
            height: 270px;
        }
        .category-link {
            margin: 0 .25rem;
        }
    }
}

// --- reducing homepage image height ---
@media screen and (max-width: 350px) {
    .category {
        .category-link-image-container {
            height: 240px;
        }
        .category-link {
            // margin: 0 2.6%;
        }
    }
}