// -------------- NORMALIZE --------------

* {
	box-sizing: border-box;
    margin: 0;
}

body {
	margin: 0;
    font-family: sans-serif;
    line-height: 1.1;
}

// -------------- VAR --------------

$desktop-content-width: 1000px;


// -------------- INDEX --------------

.categories {
    max-width: $desktop-content-width;
    margin: 0 auto;
}


.category {
    margin-bottom: 2rem;
    
    .category-title {
        font-size: 1.4rem;
        font-weight: 500;
        margin-bottom: 1.75rem;
    }

    .category-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .category-link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
        flex: 1 1 calc( 100% / 3 );
        max-width: 31%;
        margin-bottom: 2rem;;
    }
    
    .category-link-image {
        object-fit: cover;
        max-height: 175px;
        width: 100%;
    }
    
    .category-link-name {
        margin-top: 1rem;
        font-size: .9rem;
        color: black;
        word-wrap: break-word;
        // text-transform: lowercase;
    }


}

// -------------- SINGLE --------------

.projet-content {
    max-width: $desktop-content-width;
    margin: 0 auto;
    .projet-photo-grande {
        width: 100%;
        object-fit: cover;
    }

    .projet-article {
        margin: 2rem 0;
        display: flex;
            
        .projet-text {
            flex: 8 1;
        }

        .projet-titre {
            margin-bottom: .75rem;
            text-align: justify;
        } 

        .projet-description {
            order: 1;
            line-height: 1.35;
        }

        .description-technique {
            font-weight: 600;
            margin-bottom: .25rem;
            text-align: justify;
        }

        .description-architecural {
            text-align: justify;
        }


        .projet-side-text {
            display: flex;
            flex-direction: column;
            text-align: right;
            order: -1;
            margin-right: 1rem;
            flex: 1 1;

            .projet-label-prix {
                margin-top: 1.5rem;
                color: rgb(2, 163, 2);
                font-weight: 500;
            }
            .projet-periode {
                font-style: italic;
            }
        }
    }


    .projet-photo-gallerie {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3.5rem 0;
    }

    .projet-photo-petite {
        max-width: 30%;
        display: block;
        img {
            max-width: 100%;
        }
    }
}



// -------------- HEADER --------------

.header-logo {
    position: relative;
    left: 160px;
    width: 350px;
}

.header-logo-centered {
    left: -150px;
    display: block;
    margin: .33rem 0 0rem;
}

.header-centered {
    border-bottom: 1px solid rgb(77, 77, 77);
    max-width: $desktop-content-width;
    margin: 0 auto 3.5rem;
}

// -------------- FOOTER --------------

.footer-centered {
    display: flex;
    justify-content: space-between;
    margin: 7rem auto 2rem;
    font-size: .9rem;
    max-width: $desktop-content-width;
    
    
    .footer-block {
        display: flex;
    }

    .footer-block-col {
        flex-direction: column;
        a {
            color: black;
            text-align: right;
        }
    }

    .footer-contact-left {
        width: auto;
    }

}

.footer-contact-left {
    text-align: left;
    color: grey;
    margin-right: 10px;
    width: 500px;
    a {
        color: grey;
        text-decoration: none;
    }
}

.footer-contact-right {
    text-align: left;
    color: black;
    a {
        color: black;
        text-decoration: none;
    }
}

@media screen and (max-width: 1250px) {

    .header-logo-centered {
        left: -33px;
    }
}

@media screen and (max-width: 1050px) {

    body {
        margin: 0 2vw;
    }
}

@media screen and (max-width: 650px) {

    .header-logo-centered {
        width: 250px;
        left: -24px;
    }
    .footer-contact {
        font-size: .7rem;
    }

    .category {
        .category-title {
            font-size: 1rem;
        }
        .category-link-name {
        font-size: .75rem;
        }
        .category-link {
            max-width: 47vw;
            flex: 1 1 calc(100% / 2);
        }
    }

    .projet-content {
        
        .projet-article {
        
    
            .projet-titre {
                font-size: 1.2rem;
            } 

    
            .projet-description{
                font-size: .8rem;
            }
            
            
            .projet-side-text {
                font-size: .7rem;
            }
        }
    }
}

@media screen and (max-width: 450px) {


    .category {
        .category-title {
            font-size: 1.1rem;
        }
    }
}


