* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.1;
}
.categories {
  max-width: 1000px;
  margin: 0 auto;
}
.category {
  margin-bottom: 2rem;
}
.category .category-title {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1.75rem;
}
.category .category-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.category .category-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  flex: 1 1 calc(100% / 3);
  max-width: 31%;
  margin-bottom: 2rem;
}
.category .category-link-image {
  object-fit: cover;
  max-height: 175px;
  width: 100%;
}
.category .category-link-name {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: black;
  word-wrap: break-word;
}
.projet-content {
  max-width: 1000px;
  margin: 0 auto;
}
.projet-content .projet-photo-grande {
  width: 100%;
  object-fit: cover;
}
.projet-content .projet-article {
  margin: 2rem 0;
  display: flex;
}
.projet-content .projet-article .projet-text {
  flex: 8 1;
}
.projet-content .projet-article .projet-titre {
  margin-bottom: 0.75rem;
  text-align: justify;
}
.projet-content .projet-article .projet-description {
  order: 1;
  line-height: 1.35;
}
.projet-content .projet-article .description-technique {
  font-weight: 600;
  margin-bottom: 0.25rem;
  text-align: justify;
}
.projet-content .projet-article .description-architecural {
  text-align: justify;
}
.projet-content .projet-article .projet-side-text {
  display: flex;
  flex-direction: column;
  text-align: right;
  order: -1;
  margin-right: 1rem;
  flex: 1 1;
}
.projet-content .projet-article .projet-side-text .projet-label-prix {
  margin-top: 1.5rem;
  color: #02a302;
  font-weight: 500;
}
.projet-content .projet-article .projet-side-text .projet-periode {
  font-style: italic;
}
.projet-content .projet-photo-gallerie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3.5rem 0;
}
.projet-content .projet-photo-petite {
  max-width: 30%;
  display: block;
}
.projet-content .projet-photo-petite img {
  max-width: 100%;
}
.header-logo {
  position: relative;
  left: 160px;
  width: 350px;
}
.header-logo-centered {
  left: -150px;
  display: block;
  margin: 0.33rem 0 0rem;
}
.header-centered {
  border-bottom: 1px solid #4d4d4d;
  max-width: 1000px;
  margin: 0 auto 3.5rem;
}
.footer-centered {
  display: flex;
  justify-content: space-between;
  margin: 7rem auto 2rem;
  font-size: 0.9rem;
  max-width: 1000px;
}
.footer-centered .footer-block {
  display: flex;
}
.footer-centered .footer-block-col {
  flex-direction: column;
}
.footer-centered .footer-block-col a {
  color: black;
  text-align: right;
}
.footer-centered .footer-contact-left {
  width: auto;
}
.footer-contact-left {
  text-align: left;
  color: grey;
  margin-right: 10px;
  width: 500px;
}
.footer-contact-left a {
  color: grey;
  text-decoration: none;
}
.footer-contact-right {
  text-align: left;
  color: black;
}
.footer-contact-right a {
  color: black;
  text-decoration: none;
}
@media screen and (max-width: 1250px) {
  .header-logo-centered {
    left: -33px;
  }
}
@media screen and (max-width: 1050px) {
  body {
    margin: 0 2vw;
  }
}
@media screen and (max-width: 650px) {
  .header-logo-centered {
    width: 250px;
    left: -24px;
  }
  .footer-contact {
    font-size: 0.7rem;
  }
  .category .category-title {
    font-size: 1rem;
  }
  .category .category-link-name {
    font-size: 0.75rem;
  }
  .category .category-link {
    max-width: 47vw;
    flex: 1 1 calc(100% / 2);
  }
  .projet-content .projet-article .projet-titre {
    font-size: 1.2rem;
  }
  .projet-content .projet-article .projet-description {
    font-size: 0.8rem;
  }
  .projet-content .projet-article .projet-side-text {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 450px) {
  .category .category-title {
    font-size: 1.1rem;
  }
}
